
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin(){ return request.auth != null && request.auth.token.admin == true; }

    match /hotels/{hotelId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
      match /availability/{availabilityId} { allow read: if true; allow write: if isAdmin(); }
    }
    
    match /hotels_draft/{draftId} {
      allow read, create: if request.auth != null;
      allow update, delete: if isAdmin();
    }

    match /users/{userId} { allow read, write: if request.auth != null && request.auth.uid == userId;
      match /favorites/{favoriteId} { allow read, write: if request.auth != null && request.auth.uid == userId; } }

    match /bookings/{bookingId} { allow read: if request.auth != null && resource.data.userId == request.auth.uid; allow create: if request.auth != null; allow update, delete: if false; }
  }
}
